/*index1.html*/

.general {
    margin: 0;
}

.yellow-div,
.red-div {
    padding: 20px;
}

.yellow-div {
    background-color: yellow;
}

.red-div {
    background-color: red;
    border-style: solid;
    border-width: 0.5px;
}


/*index2.html*/

.general-dos {
    margin: 0;
}

.div-general {
    display: block;
}

.div-yellow,
.div-red {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.div-yellow {
    background-color: yellow;
}

.div-red {
    background-color: red;
}


/*index3.html*/

body {
    margin: 0 auto;
}

.container {
    text-align: center;
}

.yellow-span,
.red-span {
    display: inline-block;
    padding: 15px;
}

.red-span {
    margin-right: 10px;
    margin-left: 10px;
}

.yellow-span {
    background-color: yellow;
}

.red-span {
    background-color: red;
}


/*index4.html*/